PORT=5000  
DB_HOST=localhost  
DB_USER=root  
DB_PASSWORD=  
DB_NAME=next_stop
JWT_SECRET=3f0bf1d5948b3c87a8b287375983107b
JWT_EXPIRES_IN=7d
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=nextstop.noreply@gmail.com
EMAIL_PASS=gxjqivszqjahrbah
EMAIL_FROM=nextstop.noreply@gmail.com